<div class="container mx-auto">
  <table class="table-fixed">
    <thead>
      <tr class="align-bottom">
        <th scope="col" class="w-3/5">Repository</th>
        <th scope="col" class="w-1/5">Labels</th>
        <th scope="col" class="w-1/5">ConfigSets Applied</th>
      </tr>
    </thead>
    <tbody>
    <%= for repository <- @repositories do %>
      <tr>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
