<.header>
  <h1><%= link(@organization.login, to: ~p[/#{@organization.login}/labels]) %></h1>
  New Label
  <:subtitle>Create a new label</:subtitle>
</.header>

<.label_form changeset={@changeset} action={~p"/#{@organization.login}/labels"} />

<.back navigate={~p"/#{@organization.login}/labels"}>
  Back to <%= @organization.login %> labels
</.back>
