<.breadcrumbs>
  <:crumb label={@organization.login} link={~p[/#{@organization.login}]} />
  <:crumb label="labels" link={~p[/#{@organization.login}/labels]} />
  <:crumb label="New Label" />
</.breadcrumbs>

<.header>
  New Label
  <:subtitle>Create a new label</:subtitle>
</.header>

<.label_form changeset={@changeset} action={~p"/#{@organization.login}/labels"} />

<.back navigate={~p"/#{@organization.login}/labels"}>
  Back to <%= @organization.login %> labels
</.back>
